{# templates/lucky/number.html.twig template #}
{#{% extends 'base.html.twig' %}
{% block title %}
    lucky number
{% endblock %}
{% block body %}   #}
    <h1>your lucky number is {{ number }}</h1>
{#{% endblock %}#}